<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <p><h2>Welcome to my Resume App!</h2></p>
    
    <p><h2>Click on the bottom right to start discovering me!</h2></p>
    <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>

	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<a href="http://telegram.me/AI_my_bot" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="332" height="59" src="http://www.estherbot.com/wp-content/uploads/2015/03/Sign-up-button-Copy-2@1x.png" class="vc_single_image-img attachment-full" alt="Sign up button Copy 2@1x" srcset="http://www.estherbot.com/wp-content/uploads/2015/03/Sign-up-button-Copy-2@1x.png 332w, http://www.estherbot.com/wp-content/uploads/2015/03/Sign-up-button-Copy-2@1x-300x53.png 300w, http://www.estherbot.com/wp-content/uploads/2015/03/Sign-up-button-Copy-2@1x@2x.png 664w" sizes="(max-width: 332px) 100vw, 332px" /></div></a>
		</div>
	</div>
<div class="vc_empty_space"  style="height: 42px" ><span class="vc_empty_space_inner"></span></div>
</body>
</html>
