<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
   
<div class="vc_empty_space" ><span class="vc_empty_space_inner"></span></div>
</body>
</html>
